:root {
    --header-bgc: rgba(240, 240, 240, .95);
    --float-icon-back: #274C5B;
    --background: #e8e8e8;
    --border-color: #D4D4D4;
    --trolley-color: #274C5B;
    --text-color: #274C5B;
    --second-text-color: #FFFFFF;
    --paragraph-color: #525C60;
    --hover-text-color: #7EB693;
    --special-text-color: #7EB693;
    --offer-section-back: #274C5B;
    --button-color: #EFD372;
    --button-hover-bgc: #42788c;
    --second-button-color: #274C5B;
    --arrow-back: #335B6B;
    --arrow-color: #ffffff;
    --card-back: #F9F8F8;
    --second-card-back: #FFFFFF;
    --circle-border-color: #7EB693;
    --circle-back: #F1F1F1;
    --price-color: #B8B8B8;
    --second-price-color: #274C5B;
    --social-back: #EFF6F1;
    --social-hover-bgc: #c9f2d4;
    --food-bgc: #EFF6F1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: .36px;
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

h1 {
    font-size: 70px;
    line-height: 84px;
    max-width: 496px;
    margin-top: 13px;
    margin-bottom: 30px;
}

h2 {
    font-size: 50px;
    line-height: 60px;
    color: var(--second-text-color);
}

h3 {
    font-size: 45px;
    line-height: 58px;
}

h4 {
    font-size: 40px;
    line-height: 52px;
    font-weight: normal;
    max-width: 264px;
}

h5 {
    font-size: 25px;
    line-height: 35px;
}

.special-text {
    font-size: 36px;
    line-height: 64px;
    color: var(--special-text-color);
    font-family: "Yellowtail", serif;
}

.button {
    display: flex;
    width: 219px;
    justify-content: space-between;
    align-items: center;
    padding: 22px 9px 22px 33px;
    background-color: var(--button-color);
    border-radius: 16px;
    transition: all .3s ease;
}

.button:hover {
    background-color: var(--hover-text-color);
    color: #fff;
}

.button-blue {
    background-color: var(--second-button-color);
    color: var(--second-text-color);
}

.button span {
    font-size: 19px;
    line-height: 32px;
}

.arrow {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: var(--arrow-back);
}

.arrow__item {
    position: absolute;
    content: "";
    background-color: var(--arrow-color);
    height: 1px;
    border-radius: 1px;
}

.arrow__item:nth-child(1) {
    width: 15px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow__item:nth-child(2) {
    transform: translateX(-40%) rotate(90deg);
    width:11px;
    top: 50%;
    left: 50%;
}

.arrow__item:nth-child(3) {
    transform: rotate(40deg);
    width: 9px;
    top: 44%;
    left: 50%;
}

.arrow__item:nth-child(4) {
    transform: rotate(-40deg);
    width: 9px;
    top: 58%;
    left: 50%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 130px 30px;
    transition: padding .3s ease-in-out;
}

.header {
    width: 100%;
    z-index: 10;
    background-color: var(--header-bgc);
}

.header > .container {
    display: flex;
    gap: 120px;
    align-content: center;
    padding: 40px 30px;
}

.header__link, 
.header__order,
.footer__link {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header__link h3,
.footer__link h3 {
    font-size: 35px;
}

.header__menu {
    width: 100%;
    display: flex;
    align-items: center;

}

.header__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all .4s ease;
}

.header__menu input {
    display: none;
}

.header__nav ul {
    display: flex;
    list-style-type: none;
}

.header__nav > ul a {
    display: inline-block;
    padding: 20px;
    transition: color 0.3s ease;
}

.header__nav > ul a:hover {
    color: var(--hover-text-color);
}

.header__order {
    border: 1px solid var(--border-color);
    border-radius: 33px;
    padding: 7px 24px 7px 11px;
    font-size: 17px;
}

.header__order:hover .trolley {
    background-color: var(--hover-text-color);
}

.trolley {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--trolley-color);
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
    transition: background-color .4s ease;
}

.welcome {  
    background-color: var(--background);
}

.welcome > .container {
    background-image: linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), url(./../images/welcome_back.svg);
    background-position: right;
    padding: 220px 30px 250px 30px;
    transition: all .3s ease;    
    background-size: cover;
}

.natural > .container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.natural__item {
    max-width: 665px;
    width: 100%;
    background-position: right;
    border-radius: 30px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    background-repeat: no-repeat;
    background-position: right;
    overflow: hidden;
}

.bgc-wrapper {
    padding: 105px 0px 105px 55px;
    transition: all .4s ease;
}

.natural__item:hover {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
}

.natural__item:nth-child(1) {
    background-image: url("./../images/banana_back.svg");
}

.natural__item:nth-child(1) .special-text {
    color: var(--second-text-color);
}

.natural__item:nth-child(1) h4 {
    color: var(--second-text-color);
}

.natural__item:nth-child(2) {
    background-image: url("./../images/peach.svg");
}

.about {
    background-color: var(--card-back);
}

.about > .container {
    position: relative;
}

.about__back-img {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .4s ease;
}

.about__text {
    position: relative;
    margin-left: auto;
    max-width: 675px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    z-index: 5;
}

.about__text h3 {
    max-width: 520px;
    margin-bottom: 22px;
}

.about__text p:not(:first-child) {
    font-family: "Open Sans", serif;
}

.about__items {
    margin: 50px 0;
}

.about__item {  
    display: flex;
    gap: 20px;
}

.about__item:first-child {  
    margin-bottom: 30px;
}

.about__item-img {
    background-color: var(--second-card-back);
    border-radius: 20px;
    height: 100px;
    width: 100px;
}

.about__item-img img {
    display: block;
}

.about__item-img:nth-child(1) {
    padding: 27px 23px 27px 24px;
}

.about__item-img:nth-child(2) {
    padding: 24px 22px;
}

.about__item-text h5 {
    font-weight: normal;
}

.about .button {
    width: 199px;
}

.products .special-text {
    text-align: center;
}

.products h3 {
    margin-top: -15px;
    text-align: center;
}

.products__items {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    justify-content: center;
    margin-top: 40px;
}

.products__item {
    position: relative;
    padding: 67px 30px 35px 30px;
    background-color: var(--card-back);
    border-radius: 30px;
    max-width: 447px;
    transition: box-shadow 0.3s ease-in-out;
}

.products__item-img img {
    display: block;
}

.products__item:hover {
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
}

.products__item > span {
    position: absolute;
    display: inline-block;
    background-color: var(--float-icon-back);
    color: var(--second-text-color);
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;    
    line-height: 27px;
    padding: 5px 20px;
    border-radius: 8px;
    transform: translateY(-100%);
}

.products__item > p {
    font-size: 22px;
    line-height: 35px;
    margin: 20px 0 10px 0;
}

.products__item-price {
    background-image: url("./../images/stars.svg");
    background-repeat: no-repeat;
    background-position: 100% 50%;
    border-top: 1px solid var(--price-color);
    padding-top: 10px;
    font-family: "Open Sans";
}

.products__item-price span:nth-child(1) {
    color: var(--price-color);
    font-size: 17px;
    text-decoration:line-through;
    margin-right: 10px;
}

.products__item-price span:nth-child(2) {
    font-weight: bold;
}

.customer {
    background-color: var(--card-back);
}

.customer > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./../images/bg_img_1.jpg) left no-repeat,
        url(./../images/bg_img_2.jpg) right no-repeat rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

.customer__item {
    background-image: url("./../images/stars_big.svg");
    background-repeat: no-repeat;
    background-position: -4px 190px;
}

.customer__img {
    padding: 60px 0 75px 0;
}

.customer__comments {
    text-align: center;
    max-width: 942px;
    font-family: "Open Sans";
    margin-bottom: 23px;
}

.customer__post {
    font-family: "Open Sans";
    line-height: 27px;
    font-size: 14px;
}

.customer__line {
    width: 70%;
    height: 2px;
    background-color: var(--border-color);
    border-radius: 2px;
    border: 0;
    margin: 90px 0;
    transition: all .4s ease;
}

.customer__circle-items {
    display: flex;
    gap: 26px;
}

.customer__circle-item {
    width: 246px;
    height: 246px;
    background-color: var(--circle-back);
    border: 5px solid #fff;
    box-shadow: 0 0 0 5px var(--circle-border-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.customer__circle-item h6 {
    font-size: 42px;
    line-height: 54px;
}

.customer__circle-item p {
    font-weight: bold;
    font-family: "Open Sans";
}

.offer {
    background-color: var(--offer-section-back);
}

.offer .products__item:hover {
    box-shadow: 1px 4px 15px rgb(175, 175, 175, .7)
}

.offer__info-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.offer__text h3 {
    color: var(--second-text-color);
}

.offer__info-text .button {
    width: 267px;
}

.friendly > .container {
    padding: 36px 60px;
    position: relative;
}

.friendly__img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.friendly__img img {
    display: block;
}

.friendly__text {
    position: relative;
    z-index: 2;
    margin-left: auto;
    max-width: 720px;
    padding: 40px 65px;
    border-radius: 30px;
    background-color: #fff;
}

.friendly__text h3 {
    max-width: 305px;
    margin-bottom: 30px;
}

.friendly__text-info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;
}

.friendly__text-info p {
    font-family: "Open Sans";
}

.food {
    background-color: var(--food-bgc);
}

.food > .container {
    padding-left: 0;
    padding-right: 0;
}

.food__items {
    display: flex;
    gap: 30px;
}

.food__item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.food__item h5 {
    position: absolute;
    padding: 30px 80px;
    background-color: #fff;
    border-radius: 20px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 2;
    transition: padding 0.5s ease-in-out;
}

.food__img img {
    transition: all .4s ease;
    z-index: 1;
    display: block;
}

.food__item:hover img {
    transform: scale(1.1);
}

.subscribe > .container {
    padding: 30px;
}

.subscribe__form-item {
    border-radius: 30px;
    background-image: url(./../images/sub_back.svg);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    justify-content: space-between;
    padding: 100px 70px;
    transition: all .4s ease;    
    background-size: cover;
}

.subscribe__form-item h2 {
    max-width: 323px;
}

.subscribe__form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscribe__form input {
    width: 350px;
    padding: 27px 30px;
    border-radius: 16px;
    border: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--text-color);
}

.subscribe__form input:focus {
    outline: none;
}

.subscribe__form .button {
    width: 197px;
}

.footer > .container {
    padding: 55px 30px 0px 30px;
}

.footer__content {
    display: flex;
    margin-bottom: 80px;
}

.footer__content a {
    transition: color .3s ease;
}

.footer__content a:not(.footer__link):hover {
    color: var(--hover-text-color);
}

.footer__content h4 {
    font-weight: bold;
    font-size: 30px;
}

.footer__content ul {
    list-style: none;
}

.footer__contact,
.footer__social,
.footer__pages {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    font-family: "Open Sans";
}

.footer__contact {
    text-align: right;
    border-right: 2px solid var(--social-back);
    padding-bottom: 40px;
}

.footer__contact ul {
    margin-top: 34px;
}

.footer__contact ul > li:not(:first-child) {
    margin-top: 39px;
}

.footer__contact li span {
    font-weight: bold;
}

.footer__social {
    flex-basis: 50%;
    text-align: center;
}

.footer__link {
    justify-content: center;
}

.footer__social p {
    margin: 44px auto 50px auto;
    max-width: 567px;
}

.footer__social-link {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer__social-link a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--social-back);
    position: relative;
    transition: background-color .3s ease-in-out;
}

.footer__social-link a:hover {
    background-color: var(--social-hover-bgc);
}

.footer__social-link .img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.footer__pages {
    border-left: 2px solid var(--social-back);
}

.footer__pages ul {
    margin-top: 20px;
}

.footer__pages ul > li:not(:first-child) {
    margin-top: 24px;
}


.footer__map iframe {
    transition: height 0.3s ease-in-out
}